body {
	background-color: gray;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1000px;
	text-align: center;
}

.box {
	border: 2px solid white;
	height: 250px;
	width: 280px;
	color: black;
	color: Maroon;
	background-color: black;
}
