body {
	overflow: hidden;
	background-color: gray;
	background-image: url('picture/background-image1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	height: 1000px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.box1 {
	border: 2px solid Maroon;
	height: 500px;
	width: 450px;
	color: white;
	background-color: black;
}

.box2 {	
	border: 2px solid Maroon;
	height: 50px;
	width: 450px;
	color: white;
	background-color: black;
}

.back {
	margin: 15px;
	padding: 0px;
}

a:link {
	color: red;
}

a:hover {
	color: hotpink;
}
